<%-include('includes/head.ejs')%>  <%# It includes the file from includes folder and head file ,It reduces the size of code and gies us chance to reuse the code by including method %>
</head>
<body>
    <h1>Page Not Found</h1>
</body>
</html>