doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 
                a(href="/shop")
                a(href="/choose-product")  
        main 
            form(action="/admin/product" method="POST") 
                label(for="product") Enter Product: 
                input(type="text" name="product")
                button(type="submit") Submit