<%- include('includes/head.ejs') %>      <%# It includes the file from includes folder and head file ,It reduces the size of code and gies us chance to reuse the code by including method %>
</head>
<header><nav><ul>
    <li><a href = "/">Shop</a></li>
    <li><a href = "choose-product">Add-product</a></li>

</ul></nav></header>
<body>
    <main>
        <form action = "/admin/product" method = "POST">
            <input type = "text" name = "product"></input>
            <label>ID: </label><input type="text" name ="id"></input>
            <button type = "submit">Submit</button>
        </form>
    </main>
</body>
</html>